.container {
	margin-top: 5em;
	margin-bottom: 2.5em;
}

.share div {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.share .box {
	border: solid red 1px;
}

/* Image Styling */

.ninja-image {
	width: 100%;
	text-align: right;
}

.ninja-image .credits, .ninja-image .credits a {
	color: #282828 !important;
	font-style: italic;
}

/*Enter your Ninja Name ...*/

.enter-name {
	overflow: hidden;
}

.enter-name input {
	width: 100%;
}

.enter-name span {
	display: block;
	overflow: hidden;
	padding: 0 5px
}

.enter-name button {
	float: right
}

.enter-name input, .formLine enter-name {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

/* Share Buttons */
.spread a {
	height: 200px;
	display: block;
}